<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>309064535722-bnppl6ob9nrkc7khtvp344mc90sntjkl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309064535722-bnppl6ob9nrkc7khtvp344mc90sntjkl</string>
	<key>API_KEY</key>
	<string>AIzaSyDnCNtbH8BNRnyvLKH63VgiJ6IkzjSqC_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>309064535722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Feed-Me</string>
	<key>PROJECT_ID</key>
	<string>feedme-455d5</string>
	<key>STORAGE_BUCKET</key>
	<string>feedme-455d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309064535722:ios:e5c7c5e541de36bbb54ad3</string>
	<key>DATABASE_URL</key>
	<string>https://feedme-455d5.firebaseio.com</string>
</dict>
</plist>